* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Makes border and padding apart of the width and height*/
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*Nav Bar Section*/
#nav-menu ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

#nav-menu  li {
  float: left;
}

#nav-menu  li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-menu li a:hover {
  background-color: #111;
  }

#nav-menu .current-menu {
  background-color: #b30000;
}

/*Main Section*/
main {
  min-height: 650px;
}

/*Footer Section*/
footer {
  min-height: 50px;
}
